In [1]:
# STRINGS FUNCTIONS CAN ONLY BE APPLIED TO A SERIES AND NOT DTATAFRAME.
# SO WE NEED TO SELECT ONLY ONE COLUMN ON WHICH WE NEED TO WORK ON
import pandas as pd

In [2]:
df = pd.read_csv('survey_results_public.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
df['LanguageWorkedWith'].head()

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

In [4]:
# Using contatins functions to test if value contains a given string. Returns True or False
# Its always good to use na=False(or any other value) in order to account for NaN values else we might get an error.
df_contains = df['LanguageWorkedWith'].str.contains('Python', na=False) # returns a series of True and False. True if condition is satisfied else its False
print(df_contains)  # printing the True/false Series
print()
print('Total Satisfied result: ' + str(df.loc[df_contains, 'LanguageWorkedWith'].count())) # returning total count of row that satisfy the conditions.

0       True
1       True
2      False
3       True
4       True
       ...
195    False
196     True
197    False
198    False
199     True
Name: LanguageWorkedWith, Length: 200, dtype: bool

Total Satisfied result: 96
0       True
1       True
2      False
3       True
4       True
       ...
195    False
196     True
197    False
198    False
199     True
Name: LanguageWorkedWith, Length: 200, dtype: bool

Total Satisfied result: 96

In [5]:
# upper(): Converting all characters to upper case
print('Upper()')
print(df['LanguageWorkedWith'].str.upper().head())
print()

# lower(): Converting all characters to lower case
print('Lower()')
print(df['LanguageWorkedWith'].str.lower().head())
print()

# title(): Converting all characters to title case
print('Title()')
print(df['LanguageWorkedWith'].str.title().head())
print()

Upper()
0                HTML/CSS;JAVA;JAVASCRIPT;PYTHON
1                            C++;HTML/CSS;PYTHON
2                                       HTML/CSS
3                            C;C++;C#;PYTHON;SQL
4    C++;HTML/CSS;JAVA;JAVASCRIPT;PYTHON;SQL;VBA
Name: LanguageWorkedWith, dtype: object

Lower()
0                html/css;java;javascript;python
1                            c++;html/css;python
2                                       html/css
3                            c;c++;c#;python;sql
4    c++;html/css;java;javascript;python;sql;vba
Name: LanguageWorkedWith, dtype: object

Title()
0                Html/Css;Java;Javascript;Python
1                            C++;Html/Css;Python
2                                       Html/Css
3                            C;C++;C#;Python;Sql
4    C++;Html/Css;Java;Javascript;Python;Sql;Vba
Name: LanguageWorkedWith, dtype: object

Upper()
0                HTML/CSS;JAVA;JAVASCRIPT;PYTHON
1                            C++;HTML/CSS;PYTHON
2                                       HTML/CSS
3                            C;C++;C#;PYTHON;SQL
4    C++;HTML/CSS;JAVA;JAVASCRIPT;PYTHON;SQL;VBA
Name: LanguageWorkedWith, dtype: object

Lower()
0                html/css;java;javascript;python
1                            c++;html/css;python
2                                       html/css
3                            c;c++;c#;python;sql
4    c++;html/css;java;javascript;python;sql;vba
Name: LanguageWorkedWith, dtype: object

Title()
0                Html/Css;Java;Javascript;Python
1                            C++;Html/Css;Python
2                                       Html/Css
3                            C;C++;C#;Python;Sql
4    C++;Html/Css;Java;Javascript;Python;Sql;Vba
Name: LanguageWorkedWith, dtype: object

In [6]:
# len(): returns a series with length of the value
print('len()')
print(df['LanguageWorkedWith'].str.len().head())
print()

len()
0    31.0
1    19.0
2     8.0
3    19.0
4    43.0
Name: LanguageWorkedWith, dtype: float64

len()
0    31.0
1    19.0
2     8.0
3    19.0
4    43.0
Name: LanguageWorkedWith, dtype: float64

In [7]:
# strip(): Used to strip characters passd as an argument from starting and ending of string.
# If nothing is passed as parameter the default value of ' ' is used.

# strip()
print('strip()')
df['LanguageWorkedWith'].str.strip().head()  # removes spaces from left side of the value
df_strip = df['LanguageWorkedWith'].str.strip('HT').head()  # removing 'HT' from left side of the value. Case-sensetive
print(df_strip)
print()

# lstrip(): stripr from the starting of the string (left side)
print('lstrip()')
df['LanguageWorkedWith'].str.lstrip().head()  # removes spaces from right side of the value
df_lstrip = df['LanguageWorkedWith'].str.lstrip('HT').head()  # removing 'HT' from right side of the value. Case-sensetive
print(df_lstrip)
print()

# rstrip(): strips from the end of the string (right side)
print('rstrip()')
df['LanguageWorkedWith'].str.rstrip().head()  # removes spaces from right side of the value
df_rstrip = df['LanguageWorkedWith'].str.rstrip('on').head()  # removing 'on' from right side of the value. Case-sensetive
print(df_rstrip)
print()

strip()
0                  ML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                         ML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

lstrip()
0                  ML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                         ML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

rstrip()
0                  HTML/CSS;Java;JavaScript;Pyth
1                              C++;HTML/CSS;Pyth
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

strip()
0                  ML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                         ML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

lstrip()
0                  ML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                         ML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

rstrip()
0                  HTML/CSS;Java;JavaScript;Pyth
1                              C++;HTML/CSS;Pyth
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

In [8]:
#SPLIT(): Using split function to split the value on ';' and getting a list of splitted item
df_split = df['LanguageWorkedWith'].str.split(';')
df_split.head()

0                 [HTML/CSS, Java, JavaScript, Python]
1                              [C++, HTML/CSS, Python]
2                                           [HTML/CSS]
3                            [C, C++, C#, Python, SQL]
4    [C++, HTML/CSS, Java, JavaScript, Python, SQL,...
Name: LanguageWorkedWith, dtype: object

0                 [HTML/CSS, Java, JavaScript, Python]
1                              [C++, HTML/CSS, Python]
2                                           [HTML/CSS]
3                            [C, C++, C#, Python, SQL]
4    [C++, HTML/CSS, Java, JavaScript, Python, SQL,...
Name: LanguageWorkedWith, dtype: object

In [9]:
# SPLIT() cont.
# We can access a given element from a list of every row. We cant use head90 in this case
df_split_1 = df_split.str.get(0) # fetching 1st element of every value in a Series
df_split_2 = df_split.str.get(1) # fetching 2nd element in the list of vleus in a series
df_split_8 = df_split.str.get(8) # fetching 8th element in the list of vleus in a series. We get NAN if no value at that index is present in list
print(df_split_1)
print(df_split_2)
print(df_split_8)

0                   HTML/CSS
1                        C++
2                   HTML/CSS
3                          C
4                        C++
               ...
195                 HTML/CSS
196                 HTML/CSS
197                        R
198                     Java
199    Bash/Shell/PowerShell
Name: LanguageWorkedWith, Length: 200, dtype: object
0            Java
1        HTML/CSS
2             NaN
3             C++
4        HTML/CSS
          ...
195             R
196          Java
197           SQL
198    JavaScript
199            Go
Name: LanguageWorkedWith, Length: 200, dtype: object
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
195    NaN
196    NaN
197    NaN
198    NaN
199    NaN
Name: LanguageWorkedWith, Length: 200, dtype: object
0                   HTML/CSS
1                        C++
2                   HTML/CSS
3                          C
4                        C++
               ...
195                 HTML/CSS
196                 HTML/CSS
197                        R
198                     Java
199    Bash/Shell/PowerShell
Name: LanguageWorkedWith, Length: 200, dtype: object
0            Java
1        HTML/CSS
2             NaN
3             C++
4        HTML/CSS
          ...
195             R
196          Java
197           SQL
198    JavaScript
199            Go
Name: LanguageWorkedWith, Length: 200, dtype: object
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
195    NaN
196    NaN
197    NaN
198    NaN
199    NaN
Name: LanguageWorkedWith, Length: 200, dtype: object

In [10]:
# SPLIT() cont.
#EXPAND=True : allows us to convert the Series of list into different columns

df_split_expand = df['LanguageWorkedWith'].str.split(';', expand=True)
print(df_split_expand.head())

          0         1           2           3       4     5     6     7     8  \
0  HTML/CSS      Java  JavaScript      Python    None  None  None  None  None
1       C++  HTML/CSS      Python        None    None  None  None  None  None
2  HTML/CSS      None        None        None    None  None  None  None  None
3         C       C++          C#      Python     SQL  None  None  None  None
4       C++  HTML/CSS        Java  JavaScript  Python   SQL   VBA  None  None

      9    10    11    12    13    14
0  None  None  None  None  None  None
1  None  None  None  None  None  None
2  None  None  None  None  None  None
3  None  None  None  None  None  None
4  None  None  None  None  None  None
          0         1           2           3       4     5     6     7     8  \
0  HTML/CSS      Java  JavaScript      Python    None  None  None  None  None
1       C++  HTML/CSS      Python        None    None  None  None  None  None
2  HTML/CSS      None        None        None    None  None  None  None  None
3         C       C++          C#      Python     SQL  None  None  None  None
4       C++  HTML/CSS        Java  JavaScript  Python   SQL   VBA  None  None

      9    10    11    12    13    14
0  None  None  None  None  None  None
1  None  None  None  None  None  None
2  None  None  None  None  None  None
3  None  None  None  None  None  None
4  None  None  None  None  None  None

In [11]:
# checking row that has 15 languages
fltr = df_split_expand[14].notnull()
df.loc[fltr, ['Respondent','LanguageWorkedWith']]

    Respondent                                 LanguageWorkedWith
51          52  Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;H...

    Respondent                                 LanguageWorkedWith
51          52  Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;H...

In [12]:
# STRIP() cont.
# We can specify how many splits we want to have by using n=numberofslip

df_split2 = df['LanguageWorkedWith'].str.split(';', n=2) # will cause split to happen 2 times producing 3 elements
df_split4 = df['LanguageWorkedWith'].str.split(';', n=4) # will cause split 4 time to produce 5 elements
df_split2.head()
df_split4.head()

0                 [HTML/CSS, Java, JavaScript, Python]
1                              [C++, HTML/CSS, Python]
2                                           [HTML/CSS]
3                            [C, C++, C#, Python, SQL]
4    [C++, HTML/CSS, Java, JavaScript, Python;SQL;VBA]
Name: LanguageWorkedWith, dtype: object

0                 [HTML/CSS, Java, JavaScript, Python]
1                              [C++, HTML/CSS, Python]
2                                           [HTML/CSS]
3                            [C, C++, C#, Python, SQL]
4    [C++, HTML/CSS, Java, JavaScript, Python;SQL;VBA]
Name: LanguageWorkedWith, dtype: object

In [13]:
# STRIP() cont.
# we can combine expand and n to produce a dataframe
df_combined = df['LanguageWorkedWith'].str.split(';', expand=True, n=4)
df_combined

,0,1,2,3,4
0,HTML/CSS,Java,JavaScript,Python,None
1,C++,HTML/CSS,Python,None,None
2,HTML/CSS,None,None,None,None
3,C,C++,C#,Python,SQL
4,C++,HTML/CSS,Java,JavaScript,Python;SQL;VBA
...,...,...,...,...,...
195,HTML/CSS,R,VBA,None,None
196,HTML/CSS,Java,JavaScript,Python,SQL
197,R,SQL,None,None,None
198,Java,JavaScript,SQL,VBA,None
199,Bash/Shell/PowerShell,Go,HTML/CSS,Java,JavaScript;Python;Scala

,0,1,2,3,4
0,HTML/CSS,Java,JavaScript,Python,None
1,C++,HTML/CSS,Python,None,None
2,HTML/CSS,None,None,None,None
3,C,C++,C#,Python,SQL
4,C++,HTML/CSS,Java,JavaScript,Python;SQL;VBA
...,...,...,...,...,...
195,HTML/CSS,R,VBA,None,None
196,HTML/CSS,Java,JavaScript,Python,SQL
197,R,SQL,None,None,None
198,Java,JavaScript,SQL,VBA,None
199,Bash/Shell/PowerShell,Go,HTML/CSS,Java,JavaScript;Python;Scala

In [14]:
df_test = df_combined[2].head(10)
df_test

0    JavaScript
1        Python
2          None
3            C#
4          Java
5           SQL
6          None
7           C++
8      HTML/CSS
9    JavaScript
Name: 2, dtype: object

0    JavaScript
1        Python
2          None
3            C#
4          Java
5           SQL
6          None
7           C++
8      HTML/CSS
9    JavaScript
Name: 2, dtype: object

In [15]:
# CONCATENATION
df_A = df_test.str.cat(sep=';')  # concatenating series into a single string separated by ;
print(df_A)
print()
df_B = df_test.str.cat()
print(df_B)
print()

JavaScript;Python;C#;Java;SQL;C++;HTML/CSS;JavaScript

JavaScriptPythonC#JavaSQLC++HTML/CSSJavaScript

JavaScript;Python;C#;Java;SQL;C++;HTML/CSS;JavaScript

JavaScriptPythonC#JavaSQLC++HTML/CSSJavaScript

In [16]:
# Concatenating column 0 and 1 to form a new column
df_combined_12 = df_combined[0] + '; ' + df_combined[2]
df_combined_12

0                 HTML/CSS; JavaScript
1                          C++; Python
2                                  NaN
3                                C; C#
4                            C++; Java
                    ...
195                      HTML/CSS; VBA
196               HTML/CSS; JavaScript
197                                NaN
198                          Java; SQL
199    Bash/Shell/PowerShell; HTML/CSS
Length: 200, dtype: object

0                 HTML/CSS; JavaScript
1                          C++; Python
2                                  NaN
3                                C; C#
4                            C++; Java
                    ...
195                      HTML/CSS; VBA
196               HTML/CSS; JavaScript
197                                NaN
198                          Java; SQL
199    Bash/Shell/PowerShell; HTML/CSS
Length: 200, dtype: object

In [17]:
# REPLACE()
df_rep = df['LanguageWorkedWith'].str.replace('JavaScript', 'Javascript')
df_rep.head()

0                HTML/CSS;Java;Javascript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;Javascript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

0                HTML/CSS;Java;Javascript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;Javascript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

In [18]:
# SLICE
# this function is used to slice the string in a Series. 
df_slice = df['LanguageWorkedWith'].str.slice(start=2, stop=5)
df_slice.head()

0    ML/
1    +;H
2    ML/
3    C++
4    +;H
Name: LanguageWorkedWith, dtype: object

0    ML/
1    +;H
2    ML/
3    C++
4    +;H
Name: LanguageWorkedWith, dtype: object

In [19]:
# SLICE cont.
df_slice = df['LanguageWorkedWith'].str.slice(start=0) # returns everything as it tsrats with index 0
df_slice.head()

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

In [20]:
df_slice = df['LanguageWorkedWith'].str.slice(start=0, stop=10, step=2) # start at index 0 and ends at index 9 with step of 2
df_slice.head()

0    HM/S;
1    C+HM/
2     HM/S
3    CC+C;
4    C+HM/
Name: LanguageWorkedWith, dtype: object

0    HM/S;
1    C+HM/
2     HM/S
3    CC+C;
4    C+HM/
Name: LanguageWorkedWith, dtype: object

In [21]:
df_slice = df['LanguageWorkedWith'].str[0:10:2] # produces same results as above
df_slice.head()

0    HM/S;
1    C+HM/
2     HM/S
3    CC+C;
4    C+HM/
Name: LanguageWorkedWith, dtype: object

0    HM/S;
1    C+HM/
2     HM/S
3    CC+C;
4    C+HM/
Name: LanguageWorkedWith, dtype: object

In [22]:
# SLICE_REPLACE : selects a part of string and the replaces it.
df_sr = df['LanguageWorkedWith'].str.slice_replace(start=2, stop=10, repl='-X-') # replace elements between index 2 and 9 with string '-X-'
df_sr.head()

0                HT--X--ava;JavaScript;Python
1                            C+--X--SS;Python
2                                     HT--X--
3                            C;--X--ython;SQL
4    C+--X--SS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

0                HT--X--ava;JavaScript;Python
1                            C+--X--SS;Python
2                                     HT--X--
3                            C;--X--ython;SQL
4    C+--X--SS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

In [25]:
df_sr = df['LanguageWorkedWith'].str.slice_replace(start=3, repl='-X-') # replcae entire string after index 3 with '-X-'
df_sr.head()

0    HTM-X-
1    C++-X-
2    HTM-X-
3    C;C-X-
4    C++-X-
Name: LanguageWorkedWith, dtype: object

0    HTM-X-
1    C++-X-
2    HTM-X-
3    C;C-X-
4    C++-X-
Name: LanguageWorkedWith, dtype: object

In [27]:
# REPEAT
df_rpt = df_sr.str.repeat(3)  # repeats the string 3 times
df_rpt.head(4)

0    HTM-X-HTM-X-HTM-X-
1    C++-X-C++-X-C++-X-
2    HTM-X-HTM-X-HTM-X-
3    C;C-X-C;C-X-C;C-X-
Name: LanguageWorkedWith, dtype: object

0    HTM-X-HTM-X-HTM-X-
1    C++-X-C++-X-C++-X-
2    HTM-X-HTM-X-HTM-X-
3    C;C-X-C;C-X-C;C-X-
Name: LanguageWorkedWith, dtype: object

In [28]:
#swapcase(): swaps case of string
df_sc = df['LanguageWorkedWith'].str.swapcase()
df_sc.head(4)

0    html/css;jAVA;jAVAsCRIPT;pYTHON
1                c++;html/css;pYTHON
2                           html/css
3                c;c++;c#;pYTHON;sql
Name: LanguageWorkedWith, dtype: object

0    html/css;jAVA;jAVAsCRIPT;pYTHON
1                c++;html/css;pYTHON
2                           html/css
3                c;c++;c#;pYTHON;sql
Name: LanguageWorkedWith, dtype: object