In [1]:
import pandas as pd

In [2]:
# List of dictionary with marks for Compulsory Subjects - Pysics, Chemistry and Maths
marks_PCM = [
    {"name": "Siddhant", "maths": 78, "physics": 89, "chemistry": 75, "english": 82},
    {"name": "Manish", "maths": 74, "physics": 82, "chemistry": 78, "english": 79},
    {"name": "Kanai", "maths": 79, "physics": 76, "chemistry": 77, "english": 74},
    {"name": "Ram", "maths": 87, "physics": 92, "chemistry": 88, "english": 85},
]
# List of dictionary with marks for subject Optional Subject - Economics
marks_Economics = [
    {"name": "Siddhant", "economics":84},
    {"name": "Kanai", "economics":90}
]

# List of dictionary with marks for subject Optional Subject - Computers
marks_Computer = [
    {"name": "Ram", "computers":95}
]

# List of dictionary with marks for subject Optional Subject - Sports
marks_Sports = [
    {"name": "Manish", "sports":100}
]

In [3]:
# Creating datafarme from list marks_PCM and setting name column as index
df_Pcm = pd.DataFrame.from_dict(marks_PCM).set_index("name")

# Creating datafarme from list marks_Economics and setting name column as index
df_Economics = pd.DataFrame.from_dict(marks_Economics).set_index("name")

# Creating datafarme from list marks_Computer and setting name column as index
df_Computer = pd.DataFrame.from_dict(marks_Computer).set_index("name")

# Creating datafarme from list marks_Sports and setting name column as index
df_Sports = pd.DataFrame.from_dict(marks_Sports).set_index("name")

In [4]:
df_Pcm

          maths  physics  chemistry  english
name
Siddhant     78       89         75       82
Manish       74       82         78       79
Kanai        79       76         77       74
Ram          87       92         88       85

In [5]:
df_Economics

          economics
name
Siddhant         84
Kanai            90

In [6]:
df_Computer

      computers
name
Ram          95

In [7]:
df_Sports

        sports
name
Manish     100

In [8]:
# Contatenation 4 Dataframes with common index along with axis 1
df = pd.concat([df_Pcm, df_Economics, df_Computer, df_Sports], axis=1, sort=False)

          maths  physics  chemistry  english  economics  computers  sports
Siddhant     78       89         75       82       84.0        NaN     NaN
Manish       74       82         78       79        NaN        NaN   100.0
Kanai        79       76         77       74       90.0        NaN     NaN
Ram          87       92         88       85        NaN       95.0     NaN

In [9]:
df_Computer+df_Sports

        computers  sports
name
Manish        NaN     NaN
Ram           NaN     NaN

In [10]:
file = "Data/Survey_schema.csv"  # path to our csv file
df_schema = pd.read_csv(file)  # creating a dataframe
df_schema.set_index("Column", inplace=True)  # Setting "Column" as an index
df_schema.head()  # priting top 5 rows in dataframe

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [11]:
df_schema.reset_index(inplace=True)  # Re-Setting Default index
df_schema.head()

        Column                                       QuestionText
0   Respondent  Randomized respondent ID number (not in order ...
1   MainBranch  Which of the following options best describes ...
2     Hobbyist                            Do you code as a hobby?
3  OpenSourcer        How often do you contribute to open source?
4   OpenSource  How do you feel about the quality of open sour...

In [12]:
# Ascending Sort
df_schema.sort_index(inplace=True)
df_schema.head()

        Column                                       QuestionText
0   Respondent  Randomized respondent ID number (not in order ...
1   MainBranch  Which of the following options best describes ...
2     Hobbyist                            Do you code as a hobby?
3  OpenSourcer        How often do you contribute to open source?
4   OpenSource  How do you feel about the quality of open sour...

In [13]:
# Descending Sort
df_schema.sort_index(ascending=False, inplace=True)
df_schema.head()

          Column                                       QuestionText
84    SurveyEase  How easy or difficult was this survey to compl...
83  SurveyLength  How do you feel about the length of the survey...
82    Dependents  Do you have any dependents (e.g., children, el...
81     Ethnicity  Which of the following do you identify as? Ple...
80     Sexuality  Which of the following do you currently identi...

In [14]:
# Setting "Column" as an index
df_schema.set_index('Column')
df_schema.head()

          Column                                       QuestionText
84    SurveyEase  How easy or difficult was this survey to compl...
83  SurveyLength  How do you feel about the length of the survey...
82    Dependents  Do you have any dependents (e.g., children, el...
81     Ethnicity  Which of the following do you identify as? Ple...
80     Sexuality  Which of the following do you currently identi...

In [15]:
df_schema.index

Int64Index([84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68,
            67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51,
            50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34,
            33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17,
            16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,
             0],
           dtype='int64')

In [16]:
df_schema.columns

Index(['Column', 'QuestionText'], dtype='object')

In [17]:
df_schema.shape

(85, 2)

In [18]:
file = 'data/Survey.csv'
df = pd.read_csv(file, index_col="Respondent", usecols=["Respondent", "Hobbyist", "LanguageWorkedWith", "PlatformWorkedWith", "YearsCode", "ConvertedComp", "Age", "Gender"])
df.count()
# df.head(15)

Hobbyist              88883
YearsCode             87938
ConvertedComp         55823
LanguageWorkedWith    87569
PlatformWorkedWith    80714
Age                   79210
Gender                85406
dtype: int64

In [19]:
pd.set_option('max_rows', 80)
file = 'data/Survey_schema.csv'
df_schema = pd.read_csv(file, index_col="Column")
# df_schema.head(80).sort_index()
df_schema.loc["ConvertedComp", "QuestionText"]

'Salary converted to annual USD salaries using the exchange rate on 2019-02-01, assuming 12 working months and 50 working weeks.'